<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header.ejs") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
</head>
<body>
  <%- include('partials/navbar.ejs') -%>
  <div class="container mt-3 ">
        <h1> <%= blog.title %></h1>
        <img src="<%= blog.coverImage %>" width="500px"/>
        <pre class="mt-3" style="font-family: Arial, Helvetica, sans-serif ; color: black; font-size: medium;">    <%= blog.body %></pre>
      </div>  
     <div class="container mt-3 d-flex align-items-center gap-3">
       <img  
        src="<%= blog.createdBY.profileImage %>" 
        width="70px" 
        height="70px"
        style="border-radius: 50%; object-fit: cover;"
        alt="user profile"
    />

    <h4><%= blog.createdBY.fullname %></h4>
</div>


<% if (locals.user) { %>
 <div class="container mt-3"  >
   <form action="/blog/comment/<%= blog._id %>"  method="post"   >
     
     <div class="form-label">
       <label for="">Comment</label>
       <br />
          <textarea
          class="form-control"
          title="body"
          name="content"
          placeholder="Enter comment...."
            id="floatingTextarea"
            ></textarea>
          </div>
          <button type="submit" name="submit" class="btn btn-primary mt-4">
            Submit
          </button>
        </form>
      </div>
      
      <% } %>
      
      
      <div class="container mt-3"   >
        <h1>Comments (<%= comments.length %>)</h1>
        <% comments.forEach(comment => { %>
          
          <div class="d-flex align-items-center gap-3 mb-2">
            <img  
            src="<%= comment.createdBY.profileImage %>" 
            width="70px" 
            height="70px"
            style="border-radius: 50%; object-fit: cover;"
        alt="user profile"
      />
      <strong><%= comment.createdBY.fullname %></strong>
    </div>

    <pre style="font-family: Arial, Helvetica, sans-serif; color: black; font-size: medium;">
<%= comment.content %>
    </pre>

    <hr>

  <% }) %>
</div>

      
    <%- include('partials/script.ejs') %>

</body>
</html>